#frameSet{
  width:120px;
  height:120px;
}
#videoSet{
  background-color:#EFFBF8;
   width:280px;
   height:280px;
   padding:20px;
}
#imgSet{
  background-color:#EFF8FB;

  padding: 20px;
  width: 280px;
  height: 280px;
}
/*center */
