.main_space{margin-top: 40px; margin-left: 10px;}
.list_space{width: 50%; }
.tbl_type,.tbl_type th,.tbl_type td{border:0}
.tbl_type{width:100%;border-bottom:2px solid #dcdcdc;text-align: center;font-size:11px;}
.tbl_type caption{display:none}
.tbl_type th{padding:7px 0 4px;border-top:2px solid #dcdcdc;text-align: center; background-color:#f5f7f9;color:#666;font-size:12px;font-weight:bold}
.tbl_type td{padding:6px 0 4px;border-top:1px solid #e5e5e5;color:#4c4c4c}
.content_space{width: 50%;}
